body{
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:fixed;
	background-image: url("https://wallpaperaccess.com/full/19602.jpg");
	
}
body p{
	background-color:rgba(255,255,255,0.5);
	color:;
	padding:20px;
}
body h2{
	background-color:B4B4B4;
	color:cyan;
}
body h4{
	background-color:B4B4B4;
	color:cyan;
}
.header .menu{
	text-align:center;
	margin-top:35px;
}
.header .menu a{
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	font-size:16px;
	margin:0px 15px;
}
.header{
	padding:15px 0px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	background-color:#B4B4B4;
	position:sticky;
	top:0;
	z-index:999;
}
.header .icon{
	margin-top:35px;
	color:cyan;
}
.header .icon i{
	color:cyan;
	font-size:18px;
	margin:0px 12px;
}
.active{
	color:cyan !important;
}
.header .menu a:hover{
	color:cyan !important;
}